body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="button"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  min-width: 1200px;
  padding-top: 49px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500; 
  text-transform: uppercase;
  color: #000000;
}

 .site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 484px;
  padding-top: 27px;
}

.site-navigation-item {
  padding: 0px 20px;
}

.user-navigation {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding-top: 27px;
  width: 178px;
}

.user-navigation a {
  position: relative;
  padding-left: 40px;
}

.user-navigation a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: url("../img/cart-icon.svg") no-repeat 0 0;
  opacity: 0.3;
}

.site-navigation-item a {
  color: #000000;
}

.site-navigation-item a:not(.current):hover {
  color: #fb565a;
}

.site-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item .current {
  padding-bottom: 8px;
  border-bottom: 2px solid #fb565a;
}

.slider {
  min-width: 1200px;
  min-height: 420px;
  margin-bottom: 79px;
  background-color: #eeeeee;
}
.slider .container {
  position: relative;
} 

.slider-controls {
  position: absolute;
  top: 307px;
  left: 50%;
  z-index: 10px;
  width: 106px;
  height: 18px;
  margin-left: -53px;
  font-size: 0px;
}

 .slider-controls label {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer; 
}

.slider-image {
  position: relative;
  padding-bottom: 65px;
  display: none;
}
.slider-image:nth-child(1) img {
  position: absolute;
  top: 8px;
  left: 431px;
}

.slider-image:nth-child(2) img {
  position: absolute;
  top: -9px;
  left: 496px;
}

.slider-image:nth-child(3) img {
  position: absolute;
  top: 9px;
  left: 401px;
}

.slider-lead {
  width: 515px;
  padding-top: 69px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-text {
  width: 409px;
  margin-bottom: 39px;
}

.slider-btn {
  width: 210px;
}

.slider-btn a {
  display: block;
  width: 100%;
  padding: 16px 15px;
}

.toggle-1:checked ~ .slider-gallery .slider-image:nth-child(1) {
  display: block;
}

.toggle-2:checked ~ .slider-gallery .slider-image:nth-child(2) {
  display: block;
}

.toggle-3:checked ~ .slider-gallery .slider-image:nth-child(3) {
  display: block;
}

.toggle-1:checked ~ .slider-controls .switch-1::after,
.toggle-2:checked ~ .slider-controls .switch-2::after,
.toggle-3:checked ~ .slider-controls .switch-3::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 3;
  width: 4px;
  height:4px;
  background: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.toggle-1:focus ~ .slider-controls .switch-1::after,
.toggle-2:focus ~ .slider-controls .switch-2::after,
.toggle-3:focus ~ .slider-controls .switch-3::after {
  box-shadow:
		0 0 0 3px #fff,
		0 0 0 5px #a7c5f7;
}

.btn-red,
.btn-red a {
  color: #ffffff;
  background-color: #fb565a;
}

.btn-red:hover,
.btn-red:hover a {
  color: #ffffff;
  background-color: #e74246;
}

.btn-red:active,
.btn-red:active a {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.btn-red:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.service .container{
  padding-bottom: 56px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 23px;
  padding-top: 147px;
}

.service-item:nth-child(1) {
  background: url(../img/illustration-1.jpg) no-repeat 0 0;
}

.service-item:nth-child(2) {
  background: url(../img/illustration-2.jpg) no-repeat 0 0;
}

.service-item:nth-child(3) {
  margin-right: 0px;
  background: url(../img/illustration-3.jpg) no-repeat 0 0;
}

.service-item-title {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.service-item-text {
  padding-right: 40px;
  margin-bottom: 31px;
}

.service-btn {
  width: 130px;
  margin-bottom: 0px;
}

.service-btn a {
  display: block;
  width: 100%;
  padding: 16px 15px;
}

.btn-green,
.btn-green a {
  color: #ffffff;
  background-color: #00ca74;
}

.btn-green:hover,
.btn-green:hover a {
  color: #ffffff;
  background-color: #00bc6c;
}

.btn-green:active,
.btn-green:active a {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.btn-green:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.btn-yellow,
.btn-yellow a {
  color: #ffffff;
  background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:hover a {
  color: #ffffff;
  background-color: #eab534;
}

.btn-yellow:active,
.btn-yellow:active a { 
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.btn-yellow:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.service .container,
.about .container,
.partners .container {
  border-bottom: 2px solid #eeeeee;
}

.about {
  padding-top: 39px;
}

.about .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}

.about-text {
  width: 650px;
  margin-top: 36px;
}
.about-lead {
  margin: 0px;
  margin-bottom: 33px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.about-general {
  margin: 0px;
  margin-bottom: 40px;
}
.about-work {
  display: block;
  margin-bottom: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-worklist li{
  position: relative;
  margin: 0px;
  margin-bottom: 24px;
  padding-left: 37px;
}

.about-worklist li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 1px;
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-numbers {
  width: 360px;
  margin-right: 22px;
  padding-top: 2px;
}

.about-numbers img {
  padding-left: 2px;
  margin-bottom: 13px;
}

.about-numbers p {
  margin-bottom: 42px;
  font-weight: 700;
  text-transform: uppercase;
  text-indent: 19px;
}

.about-numbers th {
  padding-right: 20px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.about-numbers .percent {
  font-size: 25px;
  line-height: 20px;
  vertical-align: 15px;
}

.about-numbers td {
  padding-top: 35px;
  font-size: 16px;
  line-height: 18px;
}

.partners {
  padding-top: 45px;
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1115px;
  padding-bottom: 38px;
}

.partners-list li {
  align-self: center;
  margin-right: 100px;
}

.partners-list li:nth-child(1) {
  align-self: flex-end;
  padding-bottom: 5px;
}

.partners-list li:nth-child(4) {
  align-self: flex-end;
  margin-right: 30px;
  margin-left: auto;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover {
  opacity: 1;
}

.partners-item img:active {
  opacity: 0.1;
}

.partners-item {
  position: relative;
}

.partners-item::after {
  content:"";
  position: absolute;
  top: 5px;
  left: 248px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.partners-item:nth-child(2)::after {
  top: 20px;
  left: 248px;
}

.partners-item:nth-child(3)::after {
  top: 0px;
  left: 240px;
}
.partners-item:nth-child(4)::after {
  display: none;
}

.map {
  position: absolute;
  top: 0px;
  left: -120px;
  height: 416px;
  width: 1440px;
  background: #e1e1e1 url(../img/map.jpg) no-repeat 0 0;
  z-index: 1;
}

.map::after {
  content:"";
  position: absolute;
  top: 89px;
  left: 820px;
  width: 231px;
  height: 190px;
  background: url(../img/map-marker.png) no-repeat 0 0;
}

.map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.address {
  position: relative;
  height: 416px;
}
.address .container {
  position: relative;
  padding-top: 55px;
}

address {
  position: relative;
  z-index: 3;
  font-style: normal;
  width: 219px;
  height: 238px;
  padding: 49px 50px 20px 50px;
  background-color: #ffffff;
  overflow: auto;
}

.address-title {
  margin: 0px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.address-text {
  margin: 0px;
  margin-bottom: 13px;
  padding-left: 2px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.address-btn {
  display: block;
  width: 189px;
  padding: 16px 15px;
  margin-top: 35px;
}

.footer-social {
  padding-top: 69px;
  padding-bottom: 69px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-social .container {
  display: flex;
  align-content: flex-start;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 319px;
  margin-right: 82px;
}

.footer-lead {
  width: 700px;
  margin-top: 7px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-lead span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.social-btn {
  position: relative;
  display: block;
  width: 79px;
  height: 79px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-btn::before {
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
}

.vk::before {
  background: url(../img/vk-icon.svg) no-repeat 50% 50%;
}

.fb::before {
  background: url(../img/fb-icon.svg) no-repeat 50% 50%;
}

.ig::before {
  background: url(../img/insta-icon.svg) no-repeat 50% 50%;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-btn:focus {
  outline: none;
  box-shadow:
		0 0 0 3px #fff,
		0 0 0 5px #a7c5f7;
}

.vk:active::before,
.fb:active::before,
.ig:active::before {
  opacity: 0.3;
}

.write {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  z-index: 4;
  width: 760px;
  min-height: 438px;
  margin-top: -219px;
  margin-left: -480px;
  padding: 68px 100px 84px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.write-show {
  display: block;
  animation: appear 0.6s;
}

.write-error {
  animation: shake 0.6s;
}

@keyframes appear {
  0% {transform: translateX(-2000px);}
  70% {transform: translateX(30px);}
  90% {transform: translateX(-10px);}
  100% {transform: translateX(0);}
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);}
  10%,
  30%,
  50%,
  70%,
  90% {transform: translateX(-10px);}
  20%,
  40%,
  60%,
  80% {transform: translateX(10px);}
}

.write h2 {
  margin: 0px;
  margin-bottom: 25px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.write-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 360px;
}
.write-item:first-child {
  margin-right: 40px;
}

.write-item label {
  padding-left: 2px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-item input {
  height: 44px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.write-item textarea {
  height: 100px;
  padding-top: 12px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  border-radius: 3px;
  resize: none;
  outline: none;
}

.write-btn {
  width: 260px;
  margin-top: 31px;
  margin-left: 2px;
  padding: 16px 15px;
  cursor: pointer;
}

.write-item input:hover,
.write-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.write-item input:focus,
.write-item textarea:focus {
  color: #444444;
  border: 2px solid #000000;
}

.write-item input:focus::placeholder,
.write-item textarea:focus::placeholder {
  color: #444444;
}

.write-item input:disabled,
.write-item textarea:disabled {
  color: #e74246;
  border: 2px solid #e74246;
}

.letter {
  position: relative;
}

.write-close {
  position: absolute;
  top: -60px;
  right: -12px;
  display: block;
  width: 21px;
  height: 21px;
  background: url(../img/close-cross.svg) no-repeat 0 0;
  opacity: 0.3;
}

.write-close:hover {
  opacity: 1;
}

.write-close:active {
  opacity: 0.1;
}

.inner-page .main-navigation {
  margin-bottom: 68px;
}

.main-header h1 {
  width: 745px;
  margin: 0 auto;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
} 

 .sorting {
  background-color: #ffffff;
  padding-top: 40px;
} 
.sorting .container {
  display: flex;
  flex-wrap: wrap;
  width: 775px;
  padding-left: 405px;
}

.sorting-features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sorting-features li {
  flex-shrink: 0;
}

.sorting p {
  margin-right: 267px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-item a {
  margin-right: 26px; 
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  text-transform: uppercase;
}

.sorting-item:hover a {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item:active a,
.sorting-item.current a {
  color: #000000;
}

.sorting-direction a{
  display: block;
  width: 11px;
  height: 10px;
  opacity: 0.1;
}

.down a {
  background: #ffffff url("../img/icon-down-dir.svg") no-repeat 0 0;
}

.down {
  margin-left: 21px;
  margin-right: 18px;
}

.up a {
  background: #ffffff url("../img/icon-up-dir.svg") no-repeat 0 0;
}

.sorting-direction:hover a {
  opacity: 0.3;
}

.sorting-direction:active a,
.sorting-direction.current a {
  opacity: 1;
}

.wrapper {
  display: flex;
}

.filter {
  width: 261px;
  margin-top: -39px;
  margin-right: 139px;
}

.model {
  width: 760px;
  padding-top: 40px;
}

.filter-price {
  padding: 0px;
  margin: 0px;
  margin-bottom: 54px;
  border: none;
}

.filter-price legend {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  width: 218px;
  height: 41px;
  margin-bottom: 14px;
  padding: 39px 21px 0px 21px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  content: "";
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls input:focus + label {
  box-shadow:
		0 0 0 1px #fff,
		0 0 0 3px #a7c5f7;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 161px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: 400;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 0px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
}

.max-price {
  text-align: right;
}

.filter-grid {
  padding: 0px;
  margin: 0px;
  margin-bottom: 26px;
  border: none;
}

.filter-grid legend,
.filter-features legend{
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-grid label,
.filter-features label {
  position: relative;
  padding-left: 37px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
  cursor: pointer;
}

.filter-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: url("../img/radio-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-radio:checked + label::before {
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-radio:disabled + label::before,
.filter-radio:checked:disabled + label::before {
  opacity: 0.1;
}

.filter-radio:disabled + label,
.filter-radio:checked:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-radio:not(:disabled):hover + label::before {
  opacity: 1;
}

.filter-radio:not(:disabled):focus + label::before,
.filter-checkbox:not(:disabled):focus + label::before {
box-shadow:
		0 0 0 3px #fff,
    0 0 0 5px #5991e8;
}

.filter-features {
  padding: 0px;
  margin: 0px;
  margin-bottom: 29px;
  border: none;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 2px;
  width: 25px;
  height: 25px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-checkbox:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-checkbox:disabled + label::before,
.filter-checkbox:checked:disabled + label::before {
  opacity: 0.1;
}

.filter-checkbox:disabled + label,
.filter-checkbox:checked:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-checkbox:not(:disabled):hover + label::before {
  opacity: 1;
}

.filter-btn {
  width: 100%;
  padding: 18px 15px 16px;
  color: #000000;
  background-color: #eeeeee;
  cursor: pointer;
}

.model-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 29px;
}

.model-list-item {
  position: relative;
  width: 360px; 
  margin-bottom: 25px;
  padding-top: 40px;
}

.model-list-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 40px;
  background: #eeeeee url("../img/browser.svg") no-repeat 0 0;
  opacity: 0.12;
}

.model-list-item:hover .model-description{
  display: block;
}

.model-list-item:hover::before {
  opacity: 1;
}

.model-description {
  position: absolute;
  top: 385px;
  left: 0px;
  display: none;
  width: 240px;
  height: 179px;
  padding: 26px 60px;
  background-color: #eeeeee;
}

.model-title {
  margin: 0px;
  text-align: center;
}

.model-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.model-text {
  width: 230px;
  height: 54px;
  margin-bottom: 11px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-align: center;
  overflow: auto;
}

.model-price {
  width: 170px;
  margin: 0 auto;
  padding: 16px 15px;
}

.paginator {
  margin-bottom: 60px;
}
.paginator-list {
  display: flex;
  min-height: 50px;
}

.paginator-item .current {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dfdfdf;
}

.paginator-item a {
  display: block;
  min-width: 20px;
  margin-right: 11px;
  padding: 17px 15px 15px;
  color: #000000;
  background-color: #eeeeee;
}

.paginator-item:last-child a {
  padding: 16px 78px;
}

.filter-btn:hover,
.paginator-item:hover a {
  background-color: #dfdfdf;
}

.filter-btn:active,
.paginator-item:active a {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.filter-btn:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}